.listDesign {
  width: 95vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.2em;
  color: black;
  background-color: white;
}
.userData {
  margin-left: 3em;
  width: 12em;
  display: flex;
  justify-content: start;
  align-items: start;
}
.deleteButton {
  background-color: gray;

  height: 1.5em;
  display: flex;
  align-items: center;
}
.divButton {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;

  margin-left: 2em;
}
