.appointmentView {
  height: 90vh;

  background-color: beige;

  display: flex;
  flex-direction: row;
}

.createAppointment {
  width: 50vw;
}
.appointmentRender {
  width: 50vw;
}

.appointmentInput {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userAppointments {
  display: flex;
  align-items: center;
  flex-direction: column;
}
