.sAdminDesign {
  height: 84.7vh;
  width: 100vw;

  background-color: rgb(67, 65, 65);
  display: flex;
  flex-direction: column;

  align-items: center;

  color: white;
}
.usersContainer {
  background-color: beige;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-direction: column;
}
.dataHeader {
  width: 100vw;

  background-color: beige;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.title {
  margin-left: 3em;
  width: 18em;
  display: flex;
  justify-content: space-around;
  align-items: start;

  /* padding-left: 1.2em; */
}

.usersTitle {
  background-color: beige;
}
