.usersDesign {
  width: 95vw;

  height: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0.2em;
  color: black;
  background-color: white;
}
.userDesign {
  margin-left: -1em;
  margin-right: em;

  font-size: small;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  width: 15em;
}
#deleteButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#deleteButton {
  width: 5em;
  margin-left: 2em;
}
